<h2 class="contents-tit">Button</h2>
<ul class="contents-list">
    <li class="contents-item example">
        <h3 class="item-tit">Type</h3>
        <p class="item-txt">Default</p>
        <button class="btn">
            <span class="btn-txt">Button</span>
        </button>

        <p class="item-txt">Round</p>
        <button class="btn btn-round">
            <span class="btn-txt">Round Button</span>
        </button>

        <p class="item-txt">Icon</p>
        <button class="btn">
            <span class="btn-icon"><i class="fa fa-check" aria-hidden="true"></i></span>
        </button>

        <p class="item-txt">Round Icon</p>
        <button class="btn btn-round">
            <span class="btn-icon"><i class="fa fa-check" aria-hidden="true"></i></span>
        </button>                  

        <p class="item-txt">Label Icon</p>
        <button class="btn btn-label">
            <span class="btn-txt">Label Button</span>
            <span class="btn-icon"><i class="fa fa-check" aria-hidden="true"></i></span>
        </button>

        <p class="item-txt">Group</p>
        <div class="btn-group">
            <button class="btn">
                <span class="btn-txt">Button_1</span>
            </button>
            <button class="btn">
                <span class="btn-txt">Button_2</span>
            </button>
            <button class="btn">
                <span class="btn-txt">Button_3</span>
            </button>
        </div>
        <div class="btn-group btn-group-col">
            <button class="btn">
                <span class="btn-txt">Button_1</span>
            </button>
            <button class="btn">
                <span class="btn-txt">Button_2</span>
            </button>
            <button class="btn">
                <span class="btn-txt">Button_3</span>
            </button>
        </div>
    </li>
    <li class="contents-item example">
        <h3 class="item-tit">State</h3>
        <p class="item-txt">Loading</p>
        <button class="btn btn-loading">
            <span class="btn-icon"><i class="fa fa-circle-o-notch fa-spin"></i></span>
        </button>
        <button class="btn btn-loading">
            <span class="btn-txt">Button Default</span>
            <span class="btn-icon"><i class="fa fa-circle-o-notch fa-spin fa-lg"></i></span>
        </button>
        <button class="btn btn-label">
            <span class="btn-txt">Label Button</span>
            <span class="btn-icon icon-label"><i class="fa fa-circle-o-notch fa-spin"></i></span>
        </button>

        <p class="item-txt">Disabled</p>
        <button class="btn btn-disabled">
            <span class="btn-txt">Button</span>
        </button>
    </li>
    <li class="contents-item example">
        <h3 class="item-tit">Size</h3>
        <button class="btn btn-sm">
            <span class="btn-txt">Button</span>
        </button>
        <button class="btn">
            <span class="btn-txt">Button</span>
        </button>
        <button class="btn btn-lg">
            <span class="btn-txt">Button</span>
        </button>
        <button class="btn btn-xl">
            <span class="btn-txt">Button</span>
        </button>
    </li>
    <li class="contents-item example">
        <h3 class="item-tit">color</h3>
        <button class="btn btn-red">
            <span class="btn-txt">Red</span>
        </button>
        <button class="btn btn-blue">
            <span class="btn-txt">Blue</span>
        </button>
        <button class="btn btn-green">
            <span class="btn-txt">Green</span>
        </button>
        <button class="btn btn-bluegray">
            <span class="btn-txt">Blue Gray</span>
        </button>
        <button class="btn btn-black">
            <span class="btn-txt">Black</span>
        </button>
        <button class="btn btn-white">
            <span class="btn-txt">White</span>
        </button>
        <button class="btn btn-pink">
            <span class="btn-txt">Pink</span>
        </button>
        <button class="btn btn-yellow">
            <span class="btn-txt">Yellow</span>
        </button>
    </li>
</ul>