<h2 class="content-tit">Dropdown</h2>
<ul class="content-list">
    <li class="list-item example">
        <h3 class="content-subtit">Button Dropdown</h3>
        <p class="item-txt">Default</p>
        <div class="dropdown">
            <span class="dropdown-label">First</span>
            <ul class="dropdown-menu">
                <li class="dropdown-item">First</li>
                <li class="dropdown-item">Second</li>
                <li class="dropdown-item">Third</li>
            </ul>
        </div>
        <button class="btn">
            <span class="btn-txt">Button</span>
        </button>

        
    </li>
</ul>