html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
}

audio,
video {
  display: inline-block;
}

img {
  border-style: none;
  vertical-align: top;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button {
  outline: 0;
  background: none;
  border: 0;
  overflow: visible;
  cursor: pointer;
}

input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:active {
  outline: none;
}

textarea {
  overflow: auto;
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, '돋움', HelveticaNeue, sans-serif;
  /* font-family:"Apple SD Gothic Neo", HelveticaNeue, sans-serif; */
  font-size: 14px;
  color: #000;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sp {
  display: inline-block;
  /* background:url(../images/sprite.png) no-repeat; */
  /* background-size: */
  overflow: hidden;
  font-size: 0;
  white-space: nowrap;
}


/* example을 위한 css */

.contents-item.example .btn {
  margin-bottom: 8px;
}

.contents-item.example .btn-group-col .btn {
  margin: 0;
}
.icon-user {
  background: url("../images/icon-user-sm.png");
  width: 24px;
  height: 24px;
}
.container {
  min-height: 100%;
  margin: -45px 0 0 280px;
  padding-top: 90px;
  background-color: #f6f8fa;
}
.contents {
  padding: 0 40px;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.contents-tit {
  margin: 10px 0;
  font-size: 36px;
  font-weight: bold;
  color: #333;
  border-bottom: 1px solid #eee;
}

.contents-tit .tit-sub {
  color: #666;
  font-size: 14px;
  font-weight: normal;
}



.contents-list .contents-item {
  padding-bottom: 20px;
}

.contents-list .item-tit {
  padding-bottom: 10px;
  font-size: 24px;
  color: #555;
}
.footer {
  margin-left: 280px;
  height: 45px;
  background-color: #1d97e2;
  -moz-box-shadow: 0 -1px 5px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 -1px 5px rgba(0, 0, 0, .2);
  box-shadow: 0 -1px 5px rgba(0, 0, 0, .2);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  background-color: #1d97e2;
  /* -moz-box-shadow:    inset 0 -1px 10px #0d7291;
    -webkit-box-shadow: inset 0 -1px 10px #0d7291;
    box-shadow:         inset 0 -1px 10px #0d7291; */
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
  z-index: 100;
}

.header-tit {
  float: left;
  width: 280px;
  height: 45px;
  margin-right: 10px;
  font-size: 24px;
  font-weight: bold;
  line-height: 45px;
  color: #fff;
  text-align: center;
  /* -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in; */
}

.header-tit:before {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  background-color: #fff;
  border-radius: 10px;
  content: '';
}

.header-menu {
  height: 45px;
}

.header-menu .menu-item {
  float: left;
}

.header-menu .menu-link {
  display: inline-block;
  padding: 8px;
  margin: 6px 10px;
  color: #fff;
}

.header-menu .menu-link.on,
.header-menu .menu-link:hover {
  background-color: #E59A13;
  border-radius: 8px;
}

.header-info {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 280px;
}

/* LNB */

.lnb {
  position: fixed;
  top: 45px;
  bottom: 0;
  left: 0;
  width: 280px;
  padding: 20px 0;
  background-color: #2e3c49;
  -webkit-transition: left .3s ease-in, opacity .3s ease-in;
  transition: left .3s ease-in, opacity .3s ease-in;
  z-index: 90;
}

.lnb-menu .menu-link {
  display: block;
  position: relative;
  padding: 0 20px;
  line-height: 44px;
  color: #fff;
}

.lnb-menu .menu-link:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 6px;
  background-color: #E59A13;
  content: '';
}

.lnb-menu .menu-link:hover:before {
  width: 100%;
  z-index: -1;
  -webkit-transition: width .3s ease-in;
  transition: width .3s ease-in;
}

.lnb-menu-sub {
  background-color: #263238;
}

.lnb-menu-sub .menu-link-sub {
  display: block;
  padding: 0 20px;
  line-height: 36px;
  color: #fff;
}

.btn-menu-lnb {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 0;
}

.btn-user-lnb {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0;
}
.btn-menu {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility .3s linear, opacity .3s linear;
  transition: visibility .3s linear, opacity .3s linear;
}

.btn-menu .middle-bar {
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 2px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #fff;
}

.btn-menu.on .middle-bar {
  opacity: 0;
}

.btn-menu:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #fff;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: top .3s linear, transform .3s linear;
  transition: top .3s linear, transform .3s linear;
  content: '';
}

.btn-menu.on:before {
  top: 50%;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn-menu:after {
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #fff;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: top .3s linear, transform .3s linear;
  transition: top .3s linear, transform .3s linear;
  content: '';
}

.btn-menu.on:after {
  top: 50%;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.btn {
  position: relative;
  overflow: hidden;
  min-width: 36px;
  max-width: 100%;
  height: 36px;
  padding: 0 10px;
  z-index: 0;
  background-color: #aaa;
  color: #fff;
  border-radius: 4px;
  vertical-align: top;
  transition: background-color .2s linear;
}

.btn:hover {
  background-color: #777;
}

.btn-txt {
  float: left;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
}

.btn.btn-round {
  border-radius: 26px;
}

.btn.btn-label {
  padding-right: 44px;
}

.btn.btn-label .btn-icon {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 26px;
  padding-left: 8px;
  margin-left: 8px;
  border-left: 1px solid rgba(0, 0, 0, .1);
}

.btn-group {
  display: inline-flex;
  white-space: nowrap;
  overflow: hidden;
}

.btn-group .btn {
  float: left;
  border-radius: 0;
}

.btn-group .btn:first-child {
  border-radius: 4px 0 0 4px;
}

.btn-group .btn:last-child {
  border-radius: 0 4px 4px 0;
}

.btn-group .btn.btn-round:first-child {
  border-radius: 26px 0 0 26px;
}

.btn-group .btn.btn-round:last-child {
  border-radius: 0 26px 26px 0;
}

.btn-group-col {
  flex-direction: column;
}

.btn-group-col .btn-txt {
  width: auto;
}

.btn-group-col .btn:first-child {
  border-radius: 4px 4px 0 0;
}

.btn-group-col .btn:last-child {
  border-radius: 0 0 4px 4px;
}

.btn.btn-loading .btn-txt {
  visibility: hidden;
}

.btn.btn-loading .btn-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn.btn-disabled {
  cursor: default;
  pointer-events: none;
  opacity: .5;
}

.btn.btn-sm {
  height: 28px;
  font-size: 12px;
  padding: 0 7px;
}

.btn.btn-lg {
  height: 44px;
  font-size: 16px;
  padding: 0 14px;
}

.btn.btn-xl {
  height: 52px;
  font-size: 22px;
  padding: 0 18px;
}

.btn.btn-red {
  background-color: #E53935;
}

.btn.btn-red:hover {
  background-color: #c92e2e;
}

.btn.btn-blue {
  background-color: #0288D1;
}

.btn.btn-blue:hover {
  background-color: #0277BD;
}

.btn.btn-green {
  background-color: #689F38;
}

.btn.btn-green:hover {
  background-color: #558B2F;
}

.btn.btn-bluegray {
  background-color: #607D8B;
}

.btn.btn-bluegray:hover {
  background-color: #455A64;
}

.btn.btn-black {
  background-color: #222;
}

.btn.btn-black:hover {
  background-color: #444;
}

.btn.btn-white {
  background-color: #fff;
  color: #aaa;
  border: 1px solid #ddd;
}

.btn.btn-white:hover {
  background-color: #e6e6e6;
}

.btn.btn-pink {
  background-color: #F48FB1;
}

.btn.btn-pink:hover {
  background-color: #F06292;
}

.btn.btn-yellow {
  background-color: #f4ad29;
  color: #222;
}

.btn.btn-yellow:hover {
  background-color: #ea9800;
}
.link {
  color: #000;
}

.link .txt-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
}

.link .txt-link:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #E59A13;
  transition: all .2s linear;
  content: '';
}

.link:hover .txt-link {
  color: #E59A13;
}

.link:hover .txt-link:after {
  left: 0;
  right: 0;
  width: 100%;
}
@media only screen and (max-width : 1080px) {
  .contents {
    padding: 0 15px;
  }

  .header {
    height: 90px;
  }

  .header-tit {
    width: 100%;
    padding: 0 44px;
  }

  .lnb {
    top: 90px;
    left: -280px;
    opacity: 0;
  }

  .lnb.on {
    opacity: 1;
    left: 0;
  }

  .container {
    margin-left: 0;
    padding-top: 135px;
  }

  .footer {
    margin-left: 0;
  }

  .btn-menu {
    opacity: 1;
    visibility: visible;
  }

  .btn-menu:before {
    top: 4px;
  }

  .btn-menu:after {
    top: 20px;
  }

  .header-menu {
    width: 100%;
    overflow: hidden;
  }
}