html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
}

audio,
video {
  display: inline-block;
}

img {
  border-style: none;
  vertical-align: top;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button {
  outline: 0;
  background: none;
  border: 0;
  overflow: visible;
  cursor: pointer;
}

input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:active {
  outline: none;
}

textarea {
  overflow: auto;
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, '돋움', HelveticaNeue, sans-serif;
  /* font-family:"Apple SD Gothic Neo", HelveticaNeue, sans-serif; */
  font-size: 14px;
  color: #000;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sp {
  display: inline-block;
  /* background:url(../images/sprite.png) no-repeat; */
  /* background-size: */
  overflow: hidden;
  font-size: 0;
  white-space: nowrap;
}


.icon-user {
  background: url("../images/icon-user-sm.png");
  width: 24px;
  height: 24px;
}
.btn-menu {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility .3s linear, opacity .3s linear;
  transition: visibility .3s linear, opacity .3s linear;
}

.btn-menu .middle-bar {
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 2px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #fff;
}

.btn-menu.on .middle-bar {
  opacity: 0;
}

.btn-menu:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #fff;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: top .3s linear, transform .3s linear;
  transition: top .3s linear, transform .3s linear;
  content: '';
}

.btn-menu.on:before {
  top: 50%;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn-menu:after {
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #fff;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: top .3s linear, transform .3s linear;
  transition: top .3s linear, transform .3s linear;
  content: '';
}

.btn-menu.on:after {
  top: 50%;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.container {
  min-height: 100%;
  margin: -45px 0 0 280px;
  padding-top: 90px;
  background-color: #f6f8fa;
}
.footer {
  margin-left: 280px;
  height: 45px;
  background-color: #1d97e2;
  -moz-box-shadow: 0 -1px 5px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 -1px 5px rgba(0, 0, 0, .2);
  box-shadow: 0 -1px 5px rgba(0, 0, 0, .2);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  background-color: #1d97e2;
  /* -moz-box-shadow:    inset 0 -1px 10px #0d7291;
    -webkit-box-shadow: inset 0 -1px 10px #0d7291;
    box-shadow:         inset 0 -1px 10px #0d7291; */
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
  z-index: 100;
}

.header-tit {
  float: left;
  width: 280px;
  height: 45px;
  margin-right: 10px;
  font-size: 24px;
  font-weight: bold;
  line-height: 45px;
  color: #fff;
  text-align: center;
  /* -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in; */
}

.header-tit:before {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  background-color: #fff;
  border-radius: 10px;
  content: '';
}

.header-menu {
  height: 45px;
}

.header-menu .menu-item {
  float: left;
}

.header-menu .menu-link {
  display: inline-block;
  padding: 8px;
  margin: 6px 10px;
  color: #fff;
}

.header-menu .menu-link.on,
.header-menu .menu-link:hover {
  background-color: #E59A13;
  border-radius: 8px;
}

.header-info {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 280px;
}

/* LNB */

.lnb {
  position: fixed;
  top: 45px;
  bottom: 0;
  left: 0;
  width: 280px;
  padding: 20px 0;
  background-color: #2e3c49;
  -webkit-transition: left .3s ease-in, opacity .3s ease-in;
  transition: left .3s ease-in, opacity .3s ease-in;
  z-index: 90;
}

.lnb-menu .menu-link {
  display: block;
  position: relative;
  padding: 0 20px;
  line-height: 44px;
  color: #fff;
}

.lnb-menu .menu-link:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 6px;
  background-color: #E59A13;
  content: '';
}

.lnb-menu .menu-link:hover:before {
  width: 100%;
  z-index: -1;
  -webkit-transition: width .3s ease-in;
  transition: width .3s ease-in;
}

.lnb-menu-sub {
  background-color: #263238;
}

.lnb-menu-sub .menu-link-sub {
  display: block;
  padding: 0 20px;
  line-height: 36px;
  color: #fff;
}

.btn-menu-lnb {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 0;
}

.btn-user-lnb {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0;
}
@media only screen and (max-width : 1080px) {
  .contents {
    padding: 0 15px;
  }

  .header {
    height: 90px;
  }

  .header-tit {
    width: 100%;
    padding: 0 44px;
  }

  .lnb {
    top: 90px;
    left: -280px;
    opacity: 0;
  }

  .lnb.on {
    opacity: 1;
    left: 0;
  }

  .container {
    margin-left: 0;
    padding-top: 135px;
  }

  .footer {
    margin-left: 0;
  }

  .btn-menu {
    opacity: 1;
    visibility: visible;
  }

  .btn-menu:before {
    top: 4px;
  }

  .btn-menu:after {
    top: 20px;
  }

  .header-menu {
    width: 100%;
    overflow: hidden;
  }
}