<div class="header">
    <h1 class="header-tit">Template</h1>
    <!-- <div class="header-info"></div> -->
    <ul class="header-menu">
        <li class="menu-item"><a href="#" class="menu-link on">Home</a></li>
        <li class="menu-item"><a href="#" class="menu-link">About</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Guest</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Admin</a></li>
    </ul>
    <div class="lnb">
        <ul class="lnb-menu">
            <li class="menu-item">
                <a href="#" class="menu-link">First</a>
                <ul class="lnb-menu-sub">
                    <li><a href="#" class="menu-link-sub link"><span class="txt-link">First Child 1</span></a></li>
                    <li><a href="#" class="menu-link-sub link"><span class="txt-link">First Child 2</span></a></li>
                    <li><a href="#" class="menu-link-sub link"><span class="txt-link">First Child 3</span></a></li>
                    <li><a href="#" class="menu-link-sub link"><span class="txt-link">First Child 4</span></a></li>
                </ul>
            </li>
            <li class="menu-item"><a href="#" class="menu-link">Second</a></li>
            <li class="menu-item"><a href="#" class="menu-link">Third</a></li>
            <li class="menu-item"><a href="#" class="menu-link">Fourth</a></li>
        </ul>
    </div>
    <div class="btn-menu-lnb">
        <a href="#" id="btnLnbMenu" class="btn-menu">
            <span class="middle-bar"></span>
        </a>
    </div>
    <div class="btn-user-lnb">
        <a href="#" id="btnLnbUser">
            <span class="icon-user sp"></span>
        </a>
    </div>
</div>  