html, body {
    width: 100%;
    height: 100%;
}
body {
    font-family: "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, '돋움', HelveticaNeue, sans-serif;
    /* font-family:"Apple SD Gothic Neo", HelveticaNeue, sans-serif; */
    font-size:14px;
    background-color: #f6f8fa;
    color:#000;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sp {
    display: inline-block;
    /* background:url(../images/sprite.png) no-repeat; */
    /* background-size: */
    overflow: hidden;
    font-size: 0;
    white-space: nowrap;
}